.title{
    background-color: rgb(34, 34, 34);
    color: rgb(201, 183, 167);
    display: block;
    font-size: 49px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
header{
    width: 100%;
    height: 100%;
    z-index: 800;
    position: fixed
}
main{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    padding: 40px;
    background-color:  rgb(122, 107, 95);
    color: rgb(238, 230, 222);
}
.a{
    color: rgb(238, 230, 222);
}
.one{
    position: relative;
    top: 20px;
}
.steps{
    position: relative;
    top: 30px;
}
.thishere{
    position: relative;
}
.image{
    position: absolute;
    top: 480px;
    width: 30%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0,5;
    color: white;
    background-color: rgb(150, 114, 73);
}
.image h3{
    text-align: left;
    color: rgb(126, 107, 83);
    background-color: cornsilk;
}